html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}

.next {
	top: 90%;
	height: 10%;
}
