---
---

<section id="room-preview" class="w-screen h-screen relative">
  <div
    class="container flex flex-col justify-start items-center text-center h-full"
  >
    <h1 id="title-1" class="text-5xl p-0 m-0 mt-14"></h1>
    <img src="2_5d_view.jpeg" class="w-1/2 mt-10" id="preview" />
  </div>
  <div
    id="fake-button"
    class="next w-screen absolute text-center text-xl font-bold text-white flex items-center justify-center"
  >
    >
  </div>
</section>

<script>
  import { gotoNext } from "../utils/currentPage";
  import { translate } from "../utils/text";

  const btn = document.querySelector("#fake-button")!;
  btn?.addEventListener("click", () => {
    gotoNext();
  });

  btn.innerHTML = translate("look_at_furnitured");

  const title = document.querySelector("#title-1")!;
  title.innerHTML = translate("preview");

  if (window.location.href.includes("v3")) {
    document.querySelector("#preview").src = "2_5d_2.png";
  }
</script>

<style>
  #title-1 {
    color: var(--darker-green);
  }

  #fake-button {
    background-color: var(--dark-green);
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #title-1 {
      display: none;
    }

    #preview {
      width: 90vw;
      margin: 0px;
    }

    .container {
      justify-content: center;
    }

    #fake-button {
      top: calc(100% - var(--next-btn-height) - 12vh);
    }
  }
</style>
