---
type Style = {
  name: string;
  image: string;
};

const styles: Style[] = [
  { name: "", image: "миним.jpg" },
  {
    name: "",
    image: "loft.jpeg",
  },
  {
    name: "",
    image: "прованс.jpg",
  },
];
---

<section id="style-chooser" class="h-screen w-screen">
  <div
    class="outer flex flex-col justify-start items-center text-center h-full"
  >
    <h1 id="title" class="text-5xl p-0 m-0 mt-14"></h1>
    <div class="container flex flex-row justify-around mt-20">
      {
        styles.map((style) => (
          <div class="card flex flex-col justify-center items-center">
            <h4 class="card-text text-xl font-bold style-name">{style.name}</h4>
            <img
              src={style.image}
              class="image h-full p-16 transition ease-in-out duration-700 transform hover:scale-110"
            />
          </div>
        ))
      }
    </div>
  </div>

  <script>
    import { showNextButton } from "../utils/nextButton";
    import { saveActiveStyle } from "../utils/activeStyle";
    import { translate } from "../utils/text";

    const title = document.querySelector("#title") as HTMLHeadingElement;
    title.innerHTML = translate("choose_style");

    const slugs = ["minimalism", "loft", "scand"];

    const cards = document.querySelectorAll(".card");
    cards.forEach((card, ind) => {
      card.querySelector("h4")!.innerHTML = translate(slugs[ind]);
      card.addEventListener("click", (_) => {
        let slug = "";
        if (window.location.href.includes("v3")) {
          slug = `${slugs[ind]}_2`;
        } else {
          slug = slugs[ind];
        }
        saveActiveStyle(slug);
        showNextButton(null);
      });
    });
  </script>
</section>

<style>
  #title {
    color: var(--darker-green);
  }

  .style-name {
    color: var(--darker-green);
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #title {
      display: none;
    }

    #style-chooser {
      overflow: hidden;
    }

	.outer {
      margin-top: calc(52px + 102px + 1vh);
	}

    .container {
      width: 100vw;
      overflow-x: scroll;
	  justify-content: start;
    }

    .image {
      width: 50vw;
      padding: 0px;
    }

    .card {
      flex-shrink: 0;
      width: 50vw;
      position: relative;
	  margin-left: 50px;
    }
  }
</style>
